<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msq.online.study.mapper.ChapterMapper">
  <!--<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>-->
  <resultMap id="BaseResultMap" type="Chapter">
    <!--@mbg.generated-->
    <id column="id" property="id" />
    <result column="course_id" property="courseId" />
    <result column="title" property="title" />
    <result column="is_deleted" property="isDeleted" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <collection property="videos" column="id"
      select="com.msq.online.study.mapper.VideoMapper.selectByChapterId"
    />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, course_id, title, is_deleted, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap" useCache="true">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from chapter
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from chapter
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.msq.online.study.modle.Chapter" useGeneratedKeys="true" flushCache="false">
    <!--@mbg.generated-->
    insert into chapter (course_id, title, is_deleted, create_time, update_time)
    values (#{courseId}, #{title}, #{isDeleted}, #{createTime}, #{updateTime})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.msq.online.study.modle.Chapter" useGeneratedKeys="true" flushCache="false">
    <!--@mbg.generated-->
    insert into chapter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        course_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        #{courseId},
      </if>
      <if test="title != null">
        #{title},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.msq.online.study.modle.Chapter">
    <!--@mbg.generated-->
    update chapter
    <set>
      <if test="courseId != null">
        course_id = #{courseId},
      </if>
      <if test="title != null">
        title = #{title},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.msq.online.study.modle.Chapter">
    <!--@mbg.generated-->
    update chapter
    set course_id = #{courseId},
      title = #{title},
      is_deleted = #{isDeleted},
      create_time = #{createTime},
      update_time = #{updateTime}
    where id = #{id}
  </update>
  <select id="selectByCourseId" resultMap="BaseResultMap" useCache="false">
    select
    <include refid="Base_Column_List" />
    from chapter
    where course_id = #{courseId}
  </select>
</mapper>