<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msq.online.study.mapper.CourseStudentMapper">
  <resultMap id="BaseResultMap" type="com.msq.online.study.modle.CourseStudent">
    <id column="id" property="id" />
    <result column="student_id" property="studentId" />
    <association column="course_id" property="course"
      javaType="Course" select="com.msq.online.study.mapper.CourseMapper.selectByPrimaryKey"
    />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, course_id, student_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from course_student
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from course_student
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.msq.online.study.modle.CourseStudent" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into course_student (course_id, student_id)
    values (#{course.id}, #{studentId})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.msq.online.study.modle.CourseStudent" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into course_student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="course != null">
        course_id,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="course != null">
        #{course.id},
      </if>
      <if test="studentId != null">
        #{studentId},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.msq.online.study.modle.CourseStudent">
    <!--@mbg.generated-->
    update course_student
    <set>
      <if test="course != null">
        course_id = #{course.id},
      </if>
      <if test="studentId != null">
        student_id = #{studentId},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.msq.online.study.modle.CourseStudent">
    <!--@mbg.generated-->
    update course_student
    set course_id = #{courseId},
      student_id = #{studentId}
    where id = #{id}
  </update>
  <select id="selectByCourseId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from course_student
    where course_id = #{courseid}
  </select>
    <select id="selectByStudentId" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from course_student
      where student_id = #{studentId}
    </select>
  <select id="selectByCourseIdAndStudentId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from course_student
    where course_id=#{courseId} and student_id = #{studentId}
  </select>
</mapper>