<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msq.online.study.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="com.msq.online.study.modle.Student">
    <!--@mbg.generated-->
    <id column="id" property="id" />
    <result column="email" property="email" />
    <result column="name" property="name" />
    <result column="password" property="password" />
    <result column="image" property="image" />
    <result column="sex" property="sex" />
    <result column="is_deleted" property="isDeleted" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, email, `name`, `password`, image, sex, is_deleted, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from student
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from student
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.msq.online.study.modle.Student" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into student (email, `name`, `password`, image, sex, is_deleted, create_time, 
      update_time)
    values (#{email}, #{name}, #{password}, #{image}, #{sex}, #{isDeleted}, #{createTime}, 
      #{updateTime})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.msq.online.study.modle.Student" useGeneratedKeys="true">
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="email != null">
        email,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="email != null">
        #{email},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="password != null">
        #{password},
      </if>
      <if test="image != null">
        #{image},
      </if>
      <if test="sex != null">
        #{sex},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.msq.online.study.modle.Student">
    <!--@mbg.generated-->
    update student
    <set>
      <if test="email != null">
        email = #{email},
      </if>
      <if test="name != null">
        `name` = #{name},
      </if>
      <if test="password != null">
        `password` = #{password},
      </if>
      <if test="image != null">
        image = #{image},
      </if>
      <if test="sex != null">
        sex = #{sex},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.msq.online.study.modle.Student">
    <!--@mbg.generated-->
    update student
    set email = #{email},
      `name` = #{name},
      `password` = #{password},
      image = #{image},
      sex = #{sex},
      is_deleted = #{isDeleted},
      create_time = #{createTime},
      update_time = #{updateTime}
    where id = #{id}
  </update>
    <select id="selectByEmail" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from student
      where email = #{email}
    </select>
    <select id="selectAllStudent" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from student
    </select>

<!--auto generated by MybatisCodeHelper on 2019-05-23-->
  <select id="selectByEmailAndPassword" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from student
        where email=#{email} and `password`=#{password}
    </select>
</mapper>